.desktop {
    display: none;
}

@media screen and (min-width: 900px) {
    .desktop {
        display: flex;
    }
}

.dropdown {
    border: 1px solid #f5bdbd;
    border-radius: 3px;
    color: whitesmoke;
    padding: 7px 10px;
    width: 250px;
    background-color: rgb(70, 70, 70);
}

.desktop .dropdown:first-of-type {
    margin-left: 10px;
    margin-right: 20px;
}

.mobile {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(70, 70, 70);
    z-index: 20;
}

@media screen and (min-width: 900px) {
    .mobile {
        display: none;
    }
}