.hero {
    background: url("../../public/heroPhotos.jpeg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (min-width: 481px) {
    .hero {
        height: 650px;
    }
}

.hero::before {
    content: "";
    background: transparent
        linear-gradient(
            180deg,
            gray 0%,
            lightblue 100%
        );
    position: absolute;
    top: 0;
    width: 100%;
}

.hero::after {
    content: "";
    width: 100%;
    height: 176px;
    position: absolute;
    bottom: -13px;
}

.hero .hero__header {
    background-color: white;
    width: 315px;
    height: 75px;
    padding: 16px 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 481px) {
    .hero .hero__header {
        width: 400px;
        height: 148px;
        padding: 37px 69px;
    }
}

@media screen and (min-width: 769px) {
    .hero .hero__header {
        width: 572px;
    }
}

.hero .hero__header .hero__header-text {
    font-weight: 900;
    font-size: 35px;
    line-height: 33px;
    color: red;
    text-shadow: 2px 2px 0px #000000;
}

@media screen and (min-width: 481px) {
    .hero .hero__header .hero__header-text {
        font-size: 35px;
        text-shadow: 3px 3px 0px darkblue;
    }
}

@media screen and (min-width: 769px) {
    .hero .hero__header .hero__header-text {
        font-size: 61px;
    }
}