.header {
    position: relative;
}

.header .header__badge {
    position: absolute;
    top: -35px;
    left: -11px;
    background: green;
    transform: rotate(-3deg);
    padding: 9px 15px;
    color: lightblue;
    font-size: 14px;
    text-shadow: 2px 2px 0px darkgray;
    font-weight: 900;
}

@media screen and (min-width: 769px) {
    .header .header__badge {
        top: -41px;
        left: -30px;
    }
}

.header .header__title {
    position: relative;
    z-index: 2;
    color: palevioletred;
    font-family: var(--font-family-1);
    font-size: 25px;
    font-weight: 900;
    line-height: 16px;
}

@media screen and (min-width: 769px) {
    .header .header__title {
        font-size: 49px;
    }
}

.body {
    font-size: 20px;
    line-height: 32px;
}