.favorites {
    background: rgb(142, 6, 6);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.favorites.desktop {
    display: flex;
}

@media screen and (min-width: 900px) {
    .favorites.desktop {
        display: flex;
    }
}

.favorites.mobile {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
}

@media screen and (min-width: 900px) {
    .favorites.mobile {
        display: none;
    }
}

.favorites .favorites__title {
    padding: 20px 30px 0;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.25px;
    text-align: left;
    font-weight: 900;
}

@media screen and (min-width: 900px) {
    .favorites .favorites__title {
        padding: 29px 30px 0;
    }
}

.favorites .favorites__no-favorites {
    text-align: center;
    font-size: 24px;
}

.favorites .favorites__comics {
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding: 11px 30px;
}

@media screen and (min-width: 900px) {
    .favorites .favorites__comics {
        padding: 0px 30px 40px;
    }
}

.favorites .favorites__footer {
    background-color: white;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .favorites .favorites__footer {
        display: none;
    }
}

.favorites .favorites__footer--button {
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 11px 0;
    color: red;
    font-family: var(--font-family-1);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}