.button {
    position: absolute;
    top: 40%;
    left: -11%;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

@media screen and (min-width: 481px) {
    .button {
        top: unset;
        bottom: -15px;
        left: 0;
        right: 0;
    }
}

.button.button--favorited {
    border: 2px solid white;
    background-color: rgba(255, 217, 0, 0.964);
}

.button .bolt {
    color: var(--color-light-1);
    width: 10px;
    height: 16px;
}