.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 90px;
    font-size: 18px;
    line-height: 16px;
    font-family: var(--font-family-2);
}

.pagination__arrow {
    width: 35px;
    height: 35px;
    border-radius: 9999px;
    background: var(--color-dark-2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__arrow > svg {
    color: purple;
    font-size: 18px;
    line-height: 16px;
    width: 8px;
}